<ion-view view-title="{{ title }}">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
      <div style="margin-top: 45px"></div>
         <div class="tabs-striped tabs-color-dark" style="position: static; margin-bottom: 15px;">
                <div class="tabs" style="position: static;">
                    <a class="tab-item" href="#/app/home" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-home"></i> Home
                    </a>
                    <a class="tab-item" href="#/app/list_dosen" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-person"></i> Dosen
                    </a>
                    <a class="tab-item active" href="#/app/list_mahasiswa" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-university"></i> Mahasiswa
                    </a>
                    <a class="tab-item" ref="#/app/setting" data-ink-color="#ef473a" data-ink-opacity=".35">
                        <i class="icon ion-gear-a"></i> Setting
                    </a>
                </div>
            </div>
<ion-content class="has-tabs-top bg-gray">      
         <div class="list card">
    <form style="margin: 20px;">
        <ion-list>     
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_npm" placeholder="NPM">
            </label><br>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_nama" placeholder="Nama">
            </label><br>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_alamat" placeholder="Alamat">
            </label><br>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_email" placeholder="Email">
            </label><br>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_tlp" placeholder="No.Telepon">
            </label><br>
             <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.mahasiswa_agama" placeholder="Agama">
            </label><br>
            <label class="item item-input item-floating-label">
                <input type="text" ng-model="data.kelas_id" placeholder="Kelas">
            </label>
        </ion-list>
        <button class="button icon ion-person-add button-positive button-block" ng-click="simpan();"> Simpan Data</button>
    </form>
    </div>
    </ion-content>
</ion-view>